
h1
{
    text-align: center;
    font-size: xx-large;
}
p
{
	text-align: center;
	font-size: medium;
}
h2
{
	text-align: center;
}
h3
{
	text-align: center;
}

.motherfuckingwebsite
{
	color: maroon; 
}
.wrong
{
	color: red; 
	text-decoration: underline;
}
.motherfuckingwebsites
{
	color: maroon; 
}
.colored
{
	color: blue; 
}
.shitty 
{
	color: blue; 
}
.violetish
{
	color: purple; 
}
.thebestmotherfuckingwebsite
{
	color: maroon; 
}
.link
{
	color: maroon; 
}